<%= link_to "What is Linked", about_path %>
<h1>Welcome to Linked</h1>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 77gey8tsr33ozy
</script>
<script type="in/Login">
Hello, <?js= firstName ?> <?js= lastName ?>.
</script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 77gey8tsr33ozy
  authorize: true
</script>

